/* Style of "Chat with AI" button */

.oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-button .oo-ui-buttonElement-framed > .oo-ui-buttonElement-button.mw-askai-chatwith {
	margin-left: 0.5em;
}

.mw-chatwith-header:after {
	margin-left: 0.5em;
	content: url( images/loading32x32.gif );
	vertical-align: -50%;
}

