/* Styles for [[Special:AI]] */

#mw-askai .oo-ui-textInputWidget,
#mw-askai .oo-ui-actionFieldLayout {
	max-width: 100%;
}

/* "Response" field */
.mw-askai-response {
	overflow-y: scroll;
	height: 30em;
	white-space: pre-wrap;
}

.mw-askai-prompt {
	font-weight: bold;
}

.mw-askai-prompt-loading:after {
	content: ' ...';
	font-style: italic;
}

.mw-askai-prompt-loaded {
	color: #090;
}

.mw-askai-prompt-failed {
	color: #a00;
}
